<!DOCTYPE html>
<html>
<head>
<title>充电桩基础表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet"
	href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="grid-btn">
				<div class="form-group col-sm-2">
					<input type="text" class="form-control" v-model="q.code"
						@keyup.enter="query" placeholder="充电桩IMEI号">
				</div>
				<div class="form-group col-sm-2">
					<select class="form-control" v-model="q.type">
						<option value="">全部</option>
					  	<option v-for="model in models" v-bind:value="model.id">{{model.model}}</option>
					</select>
				</div>
				<a class="btn btn-default" @click="query">查询</a>
				<a v-if="hasPermission('powerstationbase:save')"
					class="btn btn-primary" @click="syncZhilu"><i class="fa fa fa-refresh"></i>&nbsp;同步</a>
				<a v-if="hasPermission('powerstationbase:save')"
					class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<a v-if="hasPermission('powerstationbase:update')"
					class="btn btn-primary" @click="update"><i
					class="fa fa-pencil-square-o"></i>&nbsp;修改</a> <a
					v-if="hasPermission('powerstationbase:delete')"
					class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>

		<div v-show="!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="form-biz">
				<div class="form-group">
					<div class="col-sm-1 control-label">桩IMEI号</div>
					<div class="col-sm-3">
						<input type="text" class="form-control"
							v-model="powerStationBase.code" placeholder="充电桩IMEI号" />
					</div>
					<div class="col-sm-1 control-label" v-show="status=='edit'">可借（个）</div>
					<div class="col-sm-3" v-show="status=='edit'">
						<input type="text" class="form-control" v-model="powerStationBase.canBorrow"
							placeholder="记录当前充电中状态，减少每次统计" disabled="disabled"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">充电桩型号</div>
					<div class="col-sm-3">
						<select class="form-control" v-model="powerStationBase.type" placeholder="充电桩型号" @change="selectModel()">
							<option v-for="model in models" v-bind:value="model.id">{{model.model }}</option>
						</select>
					</div>
					<div class="col-sm-1 control-label" v-show="status=='edit'">已借（个）</div>
					<div class="col-sm-3" v-show="status=='edit'">
						<input type="text" class="form-control" v-model="powerStationBase.borrowCount"
						 placeholder="总共借出次数" disabled="disabled"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">通讯方式</div>
					<div class="col-sm-3">
						<select class="form-control" v-model="powerStationBase.channel"
							placeholder="通讯方式" name="channel" disabled="disabled">
							<option v-for="channel in channels" v-bind:value="channel.code">{{channel.name }}</option>
						</select>
					</div>
					<div class="col-sm-1 control-label" v-show="status=='edit'">可还（个）</div>
					<div class="col-sm-3" v-show="status=='edit'">
						<input type="text" class="form-control" v-model="powerStationBase.free" 
							placeholder="空闲槽位" disabled="disabled"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">卡槽数（个）</div>
					<div class="col-sm-3">
						<input type="text" class="form-control"
							v-model="powerStationBase.slotNo" placeholder="充电桩槽位"
							name="slotNo" disabled="disabled" />
					</div>
					<div class="col-sm-1 control-label" v-show="status=='edit'">异常槽位数量</div>
					<div class="col-sm-3" v-show="status=='edit'">
						<input type="text" class="form-control" v-model="powerStationBase.errorSlot" 
						placeholder="异常槽位数量" disabled="disabled"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">同步知路</div>
					<div class="col-sm-3">
						<input type="text" class="form-control" v-model="powerStationBase.isSync"
							placeholder="1：是 0：否" />
					</div>
					<div class="col-sm-1 control-label" v-show="status=='edit'">错误状态</div>
					<div class="col-sm-3" v-show="status=='edit'">
						<input type="text" class="form-control" v-model="powerStationBase.errorCode"
						 placeholder="0、正常" disabled="disabled"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">状态</div>
					<div class="col-sm-3">
						<select class="form-control" v-model="powerStationBase.onlineStatus" placeholder="是否使用" id="stationStatus">
							<option v-for="stationStatu in stationStatus" v-bind:value="stationStatu.code">{{stationStatu.name}}</option>
						</select>
					</div>
					<div class="col-sm-1 control-label" v-show="status=='edit'">充电桩状态码</div>
					<div class="col-sm-3" v-show="status=='edit'">
						<input type="text" class="form-control" v-model="powerStationBase.stateCode"
							placeholder="0、正常、1、禁用 2、删除" disabled="disabled"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">服务商</div>
					<div class="col-sm-3">
						<input type="text" class="form-control"
							v-model="powerStationBase.facilitatorId"
							placeholder="由哪个服务商提供服务，默认是1知路" />
					</div>
					<div class="col-sm-1 control-label" v-show="status=='edit'">运营商ID</div>
					<div class="col-sm-3" v-show="status=='edit'">
						<input type="text" class="form-control" v-model="powerStationBase.agencyid"
						 placeholder="运营商ID" disabled="disabled"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">批次</div>
					<div class="col-sm-3">
						<input type="text" class="form-control"
							v-model="powerStationBase.batch" placeholder="批次" />
					</div>
					<div class="col-sm-1 control-label" v-show="status=='edit'">编辑人</div>
					<div class="col-sm-3" v-show="status=='edit'">
						<input type="text" class="form-control" v-model="powerStationBase.editName"
						 placeholder="编辑人" disabled="disabled"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">生产日期</div>
					<div class="col-sm-3">
						<input type="text" class="form-control"
							v-model="powerStationBase.production" placeholder="生产日期" />
					</div>
					<div class="col-sm-1 control-label" v-show="status=='edit'">编辑人ID</div>
					<div class="col-sm-3" v-show="status=='edit'">
						<input type="text" class="form-control" v-model="powerStationBase.editId"
						 placeholder="编辑人ID" disabled="disabled"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">备注</div>
					<div class="col-sm-3">
						<input type="text" class="form-control"
							v-model="powerStationBase.note" placeholder="备注" />
					</div>
				</div>
				<div class="form-group" v-show="showList">
					<div class="col-sm-2 control-label"></div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="powerStationBase.createDt" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="showList">
					<div class="col-sm-2 control-label"></div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="powerStationBase.updateDt" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="showList">
					<div class="col-sm-2 control-label"></div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="powerStationBase.createBy" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="showList">
					<div class="col-sm-2 control-label"></div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="powerStationBase.updateBy" placeholder="" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveOrUpdate"
						value="确定" /> &nbsp;&nbsp;<input type="button"
						class="btn btn-warning" @click="reload" value="返回" />
				</div>
			</form>
		</div>
		
		<!-- 同步 -->
		<div id="syncLayer" style="display: none;" v-cloak>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="form-group">
						<div class="col-sm-2 control-label">名称</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" v-model="name"
								placeholder="名称" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">产品</div>
						<div class="col-sm-10">
							<select class="form-control" v-model="product">
								<option value="tFMuGvSaMJ6UHtmD">充电桩001</option>
								<option value="tvkyCfQcr0IL7Cxa">充电桩002</option>
							</select>
						</div>
					</div>
				</div>
			</form>
		</div>
		
	</div>
	

	<script src="../public/js/biz/powerstationbase.js"></script>
</body>
</html>