<!DOCTYPE html>
<html>
<head>
<title>异常类别表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<select class="form-control" v-model="q.deviceType" @change="query">
				<option value="">全部</option>
				  	<option v-for="deviceType in deviceTypes" v-bind:value="deviceType.code">{{deviceType.name}}</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<select class="form-control" v-model="q.type" @change="query">
					<option value="">全部</option>
				  	<option v-for="errorType in errorTypes" v-bind:value="errorType.code">{{errorType.name}}</option>
				  </select>
			</div>
			<a v-if="hasPermission('powererrortype:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('powererrortype:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('powererrortype:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">错误码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="powerErrorType.code" placeholder="错误码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">故障等级</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="powerErrorType.lv" placeholder="故障紧急程度,现阶段默认1最高 以后考虑分级"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">异常所属设备</div>
			   	<div class="col-sm-10">
			      <select class="form-control" v-model="powerErrorType.deviceType" placeholder="1:充电桩 , 2:充电宝">
				  	<option v-for="deviceType in deviceTypes" v-bind:value="deviceType.code">{{deviceType.name }}</option>
				  </select>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">故障类别</div>
			   	<div class="col-sm-10">
			      <select class="form-control" v-model="powerErrorType.type" placeholder="1:硬故障（硬件故障） 2:软异常（软件故障）">
				  	<option v-for="errorType in errorTypes" v-bind:value="errorType.code">{{errorType.name }}</option>
				  </select>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">故障描述</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="powerErrorType.note" placeholder="故障描述"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../public/js/biz/powererrortype.js"></script>
</body>
</html>