# Created by .ignore support plugin (hsz.mobi)
/_souceInsight_/
/build/
/.settings/
/tmp/
/eclipse/
/logs/
/MoDIS/
/Doc/
/mtk_lib/
/scripts/
/header_temp/
/tools/AudioResGen/
/tools/GLBOptionSwtichRef/
/tools/GMSL/
/tools/MinGW/
/tools/MSYS/
/tools/NewMMIResourceTool/
/tools/NVRAMStatistic/
/tst/
/verno/
/plutommi/tool/
/plutommi/Customer/ResGenerator/
/plutommi/Customer/CustResource/
/plutommi/Customer/LcdResource/
/plutommi/Customer/Images/
/plutommi/mmi/Framework/EventHandling/EventsInc/mmi_menu_handlers.h
/vendor/font/MTK/official/project/plutommi/content/inc/
/vendor/font/MTK/official/project/plutommi/content/src/



###############
#  view #
###############
.sass-cache



###############
#  fixed file #
###############
*.exe
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep
*.DS_Store


###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp

###############
#    script   #
###############
*.bat

#########保守模式############
!/plutommi/Customer/CustResource/PLUTO_MMI/
!/plutommi/Customer/LcdResource/MainLcd128X160/
!/plutommi/Customer/Images/PLUTO128X160/image.zip
!/vendor/font/MTK/official/project/plutommi/content/inc/MainLcd128X160/
!/vendor/font/MTK/official/project/plutommi/content/src/MainLcd128X160/

##eclipse###
/bin/
.project
/.setting/
.classpath

##play###
/tmp/
/power/


##idea##
/.idea/
*.iml
/classes/
*.class
power.ipr
saas-war/saas-war.iml
saas-war/src/main/webapp/static/node_modules
saas-war/build/
saas-api/build/
saas-domain/build/
saas-service/build/
*.DS_Store
.settings/
.svn/
app/com/power/batch/
app/com/power/user/dao/
app/controllers/app/gprs/socket/
app/controllers/app_gprs/loop/
app/controllers/order/alipay/
app/order/
eclipse/
modules/
out/
precompiled/
public/demo/
public/export/
/target/
